
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="Activities/Index">Activities</a>
<a href="Groups/Index">Groups</a>
<a href="Places/Index">Places</a>
<a href="Preferences/Index">Preferences</a>
<a href="Users/Index">Users</a>

